:root {
   --white: #fff;

   --gray-100: #c3c8dd;
   --gray-300: #81869b;
   --gray-400: #64697b;
   --gray-600: #232633;
   --gray-700: #1A1D28;
   --gray-800: #161823;
   --gray-900: #11131d;

   --red-400: #ff4172;
   --red-500: #f71953;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   -webkit-font-smoothing: antialiased;
   background-color: var(--gray-800);
   color: var(--gray-300);
}

body,
input,
textarea,
button {
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   font-size: 1rem;
}